.container {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  color: rgb(55, 1, 1);
}

.auth {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  background-color: #e5ecf1;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(153, 55, 55, 0.492);
  color: #2d2f30;
  font-weight: bold;
  padding: 10px;
  margin-top: 15px;
}

.auth * {
  margin: 0;
}

.finish {
  margin-top: 15px;
  align-content: center;
  color: rgb(94, 208, 94);
  font-size: 25px;
  height: 100%;
}

.gif {
  width: 250px;
  margin-bottom: 10px;
}
