.modal {
  position: absolute;
  overflow: auto;
  top: 0;
  left: 0;
  width: 100%;
  margin: 0;
  padding: 0;
  height: 100%;
  display: flex;
  border: 0;
  background-color: rgba(62, 60, 60, 0.517);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal div {
  width: 80%;
  max-height: 600px;
  background-color: aliceblue;
  border-radius: 8px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.modal button {
  background-color: #ed636b;
  border-radius: 5px;
  padding: 5px;
  width: 80%;
  color: #f7fcfa;
  font-size: 20px;
}

.modal button:hover {
  background-color: #f1c6bb;
  color: #2d2f30;
  cursor: pointer;
}

.modal button:active {
  background-color: #f1c6bb;
  color: #2d2f30;
}
