.container {
  background-color: #ed636b;
  border-radius: 10px;
  padding: 15px;
}

.title {
  color: #f7fcfa;
  margin: 0;
  margin-bottom: 10px;
}

.desc {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  background-color: #e5ecf1;
  border-radius: 5px;
  color: #2d2f30;
  font-weight: bold;
  padding: 5px;
  margin: 0;
}
